<%- include("partials/header") -%>

<main class="login-main">
    <div class="login-head">
        <h3>Login</h3>
    </div>
    <div class="login-form">
        <form action="" method="post">
            <div class="login-mail">
                <label for="logMail">E-Mail</label>
                <input type="email" name="logMail" id="logMail" placeholder="eg:email123@gmail.com" required>
            </div>
            <div class="login-password">
                <label for="logPass">Password</label>
                <input type="password" name="logPass" id="logPass" placeholder="password" required>
            </div>
            <div class="login-btn">
                <button type="submit" name="logBtn">Login</button>
            </div>
        </form>
    </div>
</main>

<%- include("partials/footer") -%>