<%- include("partials/header") -%>

<main class="register-main">
    <div class="register-head">
        <h3>Register</h3>
    </div>
    <div class="register-form">
        <form action="" method="post">
            <div class="register-mail">
                <label for="regMail">E-Mail</label>
                <input type="email" name="regMail" id="regMail" placeholder="eg:email123@gmail.com" required>
            </div>
            <div class="register-password">
                <label for="regPass">Password</label>
                <input type="password" name="regPass" id="regPass" placeholder="password" required>
            </div>
            <div class="register-btn">
                <button type="submit" name="regBtn">Register</button>
            </div>
        </form>
    </div>
</main>

<%- include("partials/footer") -%>