<%- include("partials/header") -%>

    <main class="main-secrets">
        <div class="secrets-img">
            <img src="https://cdn-icons-png.flaticon.com/256/72/72681.png" alt="img">
        </div>
        <div class="secrets-head">
            <h3>JUST DISCOVERED YOUR SECRET</h3>
        </div>
        <div class="secrets-para">
            <p>You're in love with S***** K*****</p>
        </div>
        <div class="secrets-btns">
            <div class="secrets-logout">
                <form action="/secrets" method="post">
                    <button type="submit" name="secretsLogout" class="secretsLogout">Logout</button>
                </form>
            </div>
            <div class="secrets-submit">
                <form action="/secrets" method="post">
                    <button type="submit" class="secretsSubmit" name="secretsSubmit">Submit secret</button>
                </form>
            </div>
        </div>
    </main>

<%- include("partials/footer") -%>